## Zusatzauswertung: Anzahl und Herkunft ausländischer Diplome in den letzten 5 Jahren
Wir haben im Notebook [MedReg_Analyse_03](/Users/master/Desktop/CAS_DJ/MedReg/MedReg_Scraping_2020/MedReg_Analyse_03.ipynb) zwar bereits die Länder analysiert, in denen die per Ende 2019 verzeichneten Fachärzte ihr Medizinstudium gemacht haben. Jetzt (9.2.2020), bei der Erstellung der Grafik stellte sich mir die Frage, ob es sinnvoll wäre, statt nur des Jahres 2019 evtl. die Zahlen der letzten fünf Jahre auszuwerten, was hier geschehen soll:

In [1]:
import pandas as pd
import re
import numpy as np
import datetime

In [2]:
df = pd.read_csv(r'medreg_2020_psych_b2019_20200128.csv')

In [3]:
len(df)

5413

In [4]:
df.head(2)

,Unnamed: 0,Unnamed: 0.1,Doc_ID,Name,Geschlecht,Adresse,Ort,Nationalität,Sprache,Arzt_Jahr,Arzt_Land,Arzt_Anerkennung_Jahr,PP_Jahr,PP_Land,PP_Anerkennung,BAB,BAB Status,Datei,PP_CH
0,0,0,552,"Poleski, Alexander",m,"Chemin des Allières 1,1012 Lausanne,VD",1012 Lausanne,Schweiz (CH),Französisch,1985,Schweiz,NaN,1986,Schweiz,0,"Waadt (1986), aktiv, MedBG, pri...",Erteilt,medreg_552.html,1986
1,1,1,566,"Langegger, Florian",m,"Seestrasse 22,8592 Uttwil,TG",8592 Uttwil,Schweiz (CH),Deutsch,1985,Schweiz,NaN,1985,Schweiz,0,"Thurgau (2017), aktiv, MedBG, p...",Erteilt,medreg_566.html,1985

In [28]:
df2 = df[df['PP_CH'] > 2015]

In [29]:
len(df2)

880

In [30]:
df_5J = df2['Arzt_Land'].value_counts().reset_index().rename(columns = {'index':'Land Medizinstudium', 'Arzt_Land':'Anzahl'})

In [31]:
df_5J.tail(2)

   Land Medizinstudium  Anzahl
40           Brasilien       1
41           Venezuela       1

In [32]:
total = len(df2)

In [33]:
df_5J['Anteil'] = df_5J['Anzahl'] / int(total) * 100

In [35]:
df_5J.head(10)

    Land Medizinstudium  Anzahl     Anteil
0           Deutschland     277  31.477273
1               Schweiz     174  19.772727
2            Frankreich     137  15.568182
3               Italien      54   6.136364
4            Österreich      47   5.340909
5          Griechenland      39   4.431818
6              Rumänien      28   3.181818
7               Spanien      17   1.931818
8             Bulgarien      10   1.136364
9  Russische Föderation      10   1.136364

### Resultat: das also sind die Top-Ten-Länder der Psychiaterdiplome die von 2015 bis 2019 anerkannt wurden.

In [38]:
df_5J.to_csv(r'/Users/master/Desktop/CAS_DJ/MedReg/Datananalyse_output/MedReg_Psych_Land_Medizinstudium_2015b2019.csv',index = 'Land Medizinstudium', header=True)